{% extends 'base.html' %}

{% block content %}

<h1>Lista de Usuarios</h1>
<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'INBuscarUsuarios' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuarios por nombre de usuario" name="q" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a class="btn btn-info" href="{% url 'INEditarUsuario' usuario.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'INEliminarUsuario' usuario.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{% url 'INCrearUsuario' %}">Crear usuario</a>

{% endblock %}
