{% extends "base.html" %}


{% block title %}Inscripcion a Natacion{% endblock %}

{% block cambia_contenido %}

    <h1>Creacion de formulario</h1>
<!--  Para buscar las personas   -->
    <br><hr>
    <form action="{% url 'INBuscarPersonas' %}">
        {{ busqueda_form_personas.as_p }}
        <input type="submit" value="Buscar">
    </form>

    <!--Para crear los formularios de personas-->
    <hr><br>
    <a href="{% url 'INCrearPersona' %}">Formulario de inscripcion</a>
    <hr>


<!--  Para ver los formularios de personas   -->
    {% if personas %}
        {% for persona in personas %}
            <div>
                Nombre: {{ persona.nombre }} - Apellido: {{ persona.apellido }}
                <br>
                <a href="{% url 'INEliminarPersona' persona.apellido %}">Eliminar persona</a>
                <a href="{% url 'INEditarPersona' persona.apellido %}">Editar persona</a>
                <br><br>



                <!--Para la creacion/selecion de la calse-->
                <a href="{% url 'INCrearClase' %}">Crearcion de clase</a>
                <!--  Para ver las clases   -->
                {% if clases %}
                    {% for clase in clases %}
                        <p>
                            Sus clases son los dias {{ clase.dia }} a las {{ clase.horario }} hs.
                            <br>
                            <a href="{% url 'INEliminarClase' clase.dia %}">Eliminar clase</a>
                            <a href="{% url 'INEditarClase' clase.dia %}">Cambiar clase</a>

                        </p>
                    {% endfor %}

                {% else %}

                    <h3>No hay clases en este momento</h3>

                {% endif %}
                <br>



                <!--Para la creacion del profesor-->
                <a href="{% url 'INCrearProfesor' %}">Elecion de pofesor</a>
                <!--  Para ver las clases   -->
                {% if profesores %}
                    {% for profesor in profesores %}
                        <p>
                            Sus profesor es {{ profesor.nombre_profe }} {{ profesor.apellido_profe }}.
                            <br>
                            <a href="{% url 'INEliminarProfesor' profesor.nombre_profe %}">Eliminar profesor</a>
                            <a href="{% url 'INEditarProfesor' profesor.nombre_profe %}">Cambiar profesor</a>
                        </p>
                    {% endfor %}

                {% else %}

                    <h3>No hay profesor asignado en este momento</h3>

                {% endif %}


            </div>

            <hr>
        {% endfor %}

    {% else %}

        <h3>No hay datos en este momento, esta en desarrollo</h3>

    {% endif %}

{% endblock %}