{% extends "base.html" %}


{% block cambia_contenido %}
<!--  Para buscar lso usuarios   -->
    <br><hr>
    <form action="{% url 'INBuscarUsuarios' %}">
        {{ busqueda_form.as_p }}
        <input type="submit" value="Buscar">
    </form>

    <hr><br>
    <a href="{% url 'INCrearUsuario' %}">Creacion del usuario</a>


<!--  Para ver los usuario   -->
    <hr><br>
    {% if usuarios %}
        {% for usuario in usuarios %}
            <p>
                Nombre: {{ usuario.nombre }} Nombre de usuario: {{ usuario.nombre_usuario }}
                <a href="{% url 'INEliminarUsuario' usuario.nombre_usuario %}">Eliminar usuario</a>
                <a href="{% url 'INEditarUsuario' usuario.nombre_usuario %}">Editar usuario</a>
            </p>

            <hr>
        {% endfor %}

    {% else %}

        <h3>No hay usuarios en este momento</h3>

    {% endif %}

{% endblock %}